.element {
    display: flex;
    border-radius: var(--common-border-radius-s);
    text-decoration: none;
    transition: var(--common-transition);
}

.element:hover {
    background: var(--background-element);
}
